@charset "utf-8";
/* analysis */
.analysis{clear: both;width:100%;;}
.analysis ul li{
    /*float:left;*/display: inline-block;
    width:33%;text-align:center;padding-top:26px;padding-bottom:40px; list-style:none}
.analysis ul li span{display:block;border:5px solid #a3d29c;width:180px;height:180px;margin:0px auto;border-radius:50%;margin-bottom:30px;}
.analysis ul li span img{margin-top:26%;}
.analysis h6{font-size:20px;font-weight:normal;color:#4b5a65;}
.analysis ul li p{font-size:14px;line-height:32px;margin: 0;}
.analysis ul li p.analyze-price{color: #ff580c;}
.analysis ul li p.analyze-price strong{font-weight: normal;text-decoration: line-through;color: #999;padding-left: 8px;}
.analyze-run-btn{margin-top:20px;}
.button-winth{ width:100px;}
/* CSS 分组选择样式 */

.grouping {
	width:320px;
	/*float:left;*/
	/*margin-right:40px;*/
	margin: 20px auto 100px;
}
.grouping-on {
	background:#9ea1a3;
	padding:8px 10px;
	border:1px solid #9ea1a3;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color:#FFF;
	}

.grouping-under {
    margin-top: -19px;
    width:100%; float:left;
    text-align:left;
    z-index:100;
    padding: 26px 12px;
    background-color: #f8f7f5;
    height: 138px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.grouping-under dt,.grouping-under dd { margin:6px auto;}
.border-lr { border-left:1px solid #ccc; border-right:1px solid #ccc;}

.grouping-centre {
	background:#fbd17d;
	padding:.1px 12px;
    position:relative;
	width:30%;
	color:#FFF;
	margin-top:-20px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	}
.icon-circular {
	padding:16px;
	text-align:center;
	background:#fbd17d;
	width:60px;
	height:60px;
    border-radius:50%;
	overflow:hidden;
	}
.icon-circular22 {
	text-align:center;
	margin:0 2px;
	background:#fff;
	color:#999;
	padding:2px 0 0;
	width:26px;
	height:26px;
    border-radius:50%;
	overflow:hidden;
	}

.t  {border:none; background:none; font-size:22px; padding:0 0 0 5px; width:76%;}
.s  {border:1px solid #369; background:none; font-size:22px; padding:0 0 0 5px; width:76%;}
.border-none { border:none;}

/*添加分组*/
.grouping-add {
	width:320px;
	text-align:center;
	height:300px;
	/*float:left;*/
	margin: 20px auto 0;
	color:#60b560;
	border:4px solid #60b560;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	}
.grouping-plus {
	border:4px solid #60b560;
	font-size:46px;
	padding:8%;
	margin-top:28%;
	color:#60b560;
	width:100px;
	height:100px;
    border-radius:50%;
	}

.ctpa-option { width:100%; border:none; border-top: 1px solid #ccc; margin-top:14px;}
.ctpa-option option { padding:5px 0px 5px 10px; font-weight: normal !important;}

.dropdownmenu {cursor:default;}
.clear { clear:both;}
.grouping-border{ min-height: 36px;}
.grouping-input{ width: 80%; float: right;}

.operation{
	position: absolute;
	top:36px;
	left:0px;
	z-index: 1000;
	padding: 8px 10px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}

/*指标选择*/

.indicators-title{background:#9ea1a3; color:#FFF; border-top-right-radius:5px 5px;border-top-left-radius:5px 5px; font-size:18px; padding:1% 30px;}

/* 树形菜单 start */
.tree  {
    min-height:20px;
	width:46%;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #9ea1a3;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}

.tree-body { margin:0 120px !important; border-top:none !important;}
.panel-titleTwo { margin-top:-20px !important;}
.panel-headingTwo {border-top:1px solid #ccc; border-radius:0px !important;}
.panel-title a { background:#FFF !important; text-decoration:none; padding:0 8px; margin-left:-8px;}

.max-height {
	height:auto; min-height:426px; _height:426px;/*最小高度*/
	max-height:426px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<426?"426px":"");
	overflow:auto;
	}
.min-height {
	border-top:1px solid #9ea1a3;
	height:auto; min-height:382px; _height:382px;/*最小高度*/
	max-height:382px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<382?"382px":"");
	overflow:auto;
	margin:0 30px;
	padding:0px;
	}
.min-height li { line-height:26px; border-bottom:1px solid #9ea1a3;}
.tree li {
	cursor:default;
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
	}
.tree li::before, .tree li::after {
    content:'';
    left:-31px;
    position:absolute;
    right:auto;
	}
.tree li::before {
    border-left:1px dashed #ccc;
    bottom:50px;
    height:100%;
    top:0;
    width:1px;
	}
.tree li::after {
    border-top:1px dashed #ccc;
    height:20px;
    top:22px;
    width:25px;
	}

.icon {
    border:1px solid #fbd17d;
	background:#fbd17d;
	margin-left:-16px;
	width:50px;
	height:50px;
    border-radius:60%;
    display:inline-block;
    text-decoration:none;
	}
.icon img { margin:10px 12px;}
.icon:hover,.icon:hover { background:#f4bc4d; border:1px solid #fbd17d; color:#000;}
.tree li.parent_li>span  { cursor:pointer;}
.tree>ul>li::before, .tree>ul>li::after  { border:0;}
.tree li:last-child::before  { height:30px;}
.run{ width:320px;}
/* 树形菜单 end */

/* analysisapp zero start */
.app-zero{ width:428px; margin:44px auto 22px; text-align:center;}
.Add-group{
	width:100%;
	border:2px solid #5c90b8;
	color:#5c90b8;
	padding:30px 0;
	font-size:30px;
	margin-bottom:4px;
	}
.Add-group:hover,.Add-group:focus,.Add-group.focus{ background-color: #FFF; border:2px solid #4284b7; color:#4284b7;}
.vertical-bar{ width:1px; height:48px; border:1px solid #ccc; margin:0 auto;}
.vertical-barTwo{ width:1px; height:48px; border:1px solid #5c90b8; margin:0 auto;}

.group-run{ width:250px; height:60px; padding:0px; line-height:56px; margin-top:4px;}

.run-left{ float:left; width:64%; color:#929292 !important; padding:16px 0 !important; background-color:#fff !important; border:2px solid #929292 !important;}
.run-right{ float:left; width:36%; margin-left:0px !important; padding:16px 0 !important; border:2px solid #929292; background-color:#929292; color:#FFF;}
.green{ border:2px solid #389664 !important; color:#389664 !important;}
.greenTwo{ background-color:#5cb887; border:2px solid #5cb887;}

.app-zero dl{ margin:0 0 4px;}
.app-zero dl p { font-size:28px; line-height:24px;}
.app-zero dl h5 { color:#ccc; margin-right: 10px; overflow: hidden; white-space: nowrap;}
.app-zero dt{
	width:30%;
	padding:24px 0;
	color:#FFF;
	font-weight:normal;
	background-color:#5c90b8;
	border:2px solid #5c90b8;
	float:left;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}
.app-zero dd{
	text-align:left;
	width:70%;
	color:#9ea1a3;
	font-size:18px;
	line-height:22px;
	padding:23px 0 22px 22px;
	float:left;
	border:2px solid #5c90b8;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
.icon-circularTwo {
	background-color:#5c90b8;
	text-align:center;
	margin:-24px 0;
	line-height:0;
	font-size:20px;
	color:#fff;
	padding:0;
	width:28px;
	height:26px;
	border-radius: 0px;
	}
.alert{ padding: 0;}
/* analysisapp zero end */

/* analysisapp two end */
.container-two{ width:934px; padding:0;}
.Add-group-gray{
	width:100%;
	border:2px solid #ccc;
	color:#ccc;
	padding:39px 0;
	font-size:18px;
	margin:4px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
.Add-group-blue{ border:2px solid #5c90b8; color:#5c90b8;}

.app-center{ width:60px; float:left; margin:28% 8px 0;}
.horizontal-bar{ width:60px; height:1px; border:1px solid #ccc;}
.horizontal-barblue{ width:60px; height:1px; border:1px solid #5c90b8;}
.vertical-bar2{ width:1px; height:98px; border:1px solid #ccc; margin:0 auto;}
.vertical-bar2blue{ width:1px; height:98px; border:1px solid #5c90b8; margin:0 auto;}

.run-border{width:100%; margin:0 auto; float:left; text-align:center;}
.Add-group-gray img{ margin:0 6px;}
/* analysisapp two end */

/* analysisapp one start */
.indicators{ width:100%;}
.app-zero-one{ width:100%; margin:0 auto 22px; text-align:center; float:left;}
/* analysisapp one end */

/* analysisapp five start */
.Add-mutation{
	width:100%;
	border:2px solid #5db7b8;
	color:#5db7b8;
	padding:30px 0;
	font-size:30px;
	margin-bottom:4px;
	}
.Add-mutation:hover,.Add-mutation:focus,.Add-mutation.focus{ background-color: #FFF; border:2px solid #5db7b8; color:#5db7b8;}
.vertical-line{ width:1px; height:106px; border:1px solid #ccc; margin:0 auto;}
.horizontal-line{ width:223px; height:1px; margin-left:-8px; border:1px solid #ccc;}
.vertical-lineblue{ width:1px; height:102px; border:1px solid #5c90b8; margin:0 auto;}
.horizontal-lineblue{ width:223px; height:1px; margin-left:-9px; border:1px solid #5c90b8;}

.app-five{ width:428px; margin:44px auto 22px; text-align:center;}
.app-five dl{ margin:0 0 4px;}
.app-five dl p { font-size:28px; line-height:24px;}
.app-five dl h5 { color:#ccc; margin-right: 10px; overflow: hidden; white-space: nowrap;}
.app-five dt{
	width:30%;
	padding:24px 0;
	color:#FFF;
	font-weight:normal;
	background-color:#5db7b8;
	border:2px solid #5db7b8;
	float:left;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}
.app-five dd{
	text-align:left;
	width:70%;
	color:#9ea1a3;
	font-size:18px;
	line-height:22px;
	padding:23px 0 22px 22px;
	float:left;
	border:2px solid #5db7b8;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
.icon-circularThree {
	background-color:#5db7b8;
	text-align:center;
	margin:-24px 0;
	line-height:0;
	font-size:20px;
	color:#fff;
	padding:0;
	width:28px;
	height:26px;
	border-radius: 0px;
	}
/* analysisapp five end */