@charset "utf-8";
/* CSS 全局公用 CSS 样式 字体颜色/浮动 */

html,body{
    width:100%;
    min-width:1204px !important;
}
body,td,th { font-family:"微软雅黑"; font-size:14px; line-height:24px}
.left{ float:left;}
.right{ float:right;}
.border-none{ border: none !important;}
button:focus,a:focus{ outline:none !important; -moz-outline:none;}/* 解决 超链接、按钮 在浏览器中点击有边框的问题 */


.Search{ margin:8px 0; padding:0 !important; width:100%;}
.main_center{height: auto; min-height:694px;}/*内容模块最小高度 tab-content */
.clear{clear: both;}

/* 固定导航栏 CSS 开始 */
.home{ padding:0 12px; font-size:16px;}
.navborder{ border-right:1px solid #2a2a2a !important; border-left: 1px solid #717171 !important; }
.navbar-nav{ border-right: 1px solid #717171 !important; }
.user-icon{ width:25px; height:25px; margin-right: 10px; border-radius:50%; overflow:hidden;}
.dropdown-menuTwo{right: -2px !important;}
/* 固定导航栏 CSS 结束 */

/* 面包屑 开始 */
.bread-home{ margin: 4px 0;}
.breadcrumb-right{ margin-top: -44px; padding: 0 16px;}
.breadcrumb-cog a{ color: #ccc; text-decoration: none;}/* 面包屑 设置图标大小 */
.breadcrumb-cog a:hover{ color: #666;}
/* 面包屑  结束 */

.modalDialog-top{ margin-top:11% !important;}

/* header 部分 邀请模块 CSS 开始 */
.invitation-border{ margin: 12px 0;}
.invitation-inputOne{ width: 320px !important;}
.invitation-inputTwo{ width: 320px !important; min-height: 120px !important; max-height: 240px;}
/* header 部分 邀请模块 CSS 结束 */

/* header 部分 站内信模块 CSS 开始 */
.envelope{ font-size: 18px; margin: 4px 0 2px; color: #ddd;}
.envelopeMin{ min-height: 189px; max-height: 189px; overflow: auto; overflow-x: hidden;}
.noMessage{ margin: 20% 0; text-align: center;}

.badgeOne{ background:#d85b57; color: #fff; width: 16px; text-align: center; height: 16px; border-radius:50%; font-size: 12px !important; font-family: "微软雅黑"; font-weight: 100; line-height: 10px; border: 1px solid #505050; padding:2px 0 0 1px; margin: -4px 0 0 18px; z-index: 999; position: absolute;}

.dropdown-menuthree{ background: #fff !important; padding: 0 !important; border: none !important; width: 428px; margin: 20px -1px 0 0 !important;}
.dropdown-menuthree a{ padding: 0 14px;}
.glyphicon-triangle-two{ font-size: 20px; color:  #898e92; margin: -26px 8px 0 0;}
.list-group-item-title{ background-color: #898e92; color: #fff; border: 1px solid #898e92;}

.icon-circularzn { /* 圆形操作小图标 */
    text-align:center;
    margin:0 0 0 12px;
    font-size: 16px;
    background:#fff;
    color:#898e92;
    padding:0;
    width:26px;
    height:26px;
    border-radius:50%;
    overflow:hidden;
}
.markedread{ margin-right: 5px;}
.list-group-item td{ border:none; margin: 0px; padding: 0px;}
.icon-circularzntwo {
    text-align:center;
    background:#f00;
    width:42px;
    height:42px;
    border-radius:50%;
    overflow:hidden;
}
.addtime{ display: block; line-height: 22px; font-size: 12px; color: #858585;}
.list-group-item-bottom { background-color: #dddee0; padding: 0px;}
.list-group-item-bottom a{ border-right: 1px solid #fff; padding: 6px; color: #373737 !important;}
.list-group-item-bottom a:hover{ border-right: 1px solid #fff; padding: 6px; text-decoration: none; color: #fff !important;}

.btn-link{ width: 50%; line-height: 30px !important;}
/* header 部分 站内信模块 CSS 结束 */

/* 功能性操作 复制 CSS 样式开始 */
.copy-list{background-color: #ffffff; padding: 10px 6px; margin-left:2px !important;}
.copy-address{ max-height: 120px; overflow: auto; margin-top: 10px;border-top: 1px solid #ccc;}
.copy-address a{ display: block; text-decoration: none; color:#666; padding-left: 12px;}
.copy-address a:hover,.copy-address a:active{ background-color: #f6f6f6;}
/* 功能性操作 复制 CSS 样式结束 */

.float-left{ float:left; background: #f00; width: 60px;}
.float-right{ float:right !important;}

.invitation{ border-left:1px solid #717171 !important;}
.share{ margin:0 10px;}

.share img{ margin:6px;border:1px solid #ccc; height:22px; width:22px; border-radius:50%; overflow:hidden;}

.user { padding-left: 0; margin-bottom: 0; list-style: none; border-left: 1px solid #2a2a2a;}
.user > li { position: relative; display: block;}
.user > li > a { position: relative; display: block; padding: 12.5px 20px !important;}
.user > li > a:hover,.user > li > a:focus { text-decoration: none; background-color: #eee;}

.margin-12 label{ width: 88px; text-align: right; font-weight:normal;}
.margin-12 label,.margin-12 input{ margin: 6px 0;}

/* 字体颜色 开始 */
.text-blue{ color:#4b92ce; margin:0 6px;}
.text-orange{ color:#faa111; margin:0 6px;}
.text-green{ color:#008307; margin:0 6px;}
.text-purple{color:#721da8; margin:0 6px;}
.text-gray{ color:#a8a8a8; margin:0 6px;}
.text-pink{ color:#fc7675;}
/* 字体颜色 结束 */

.b1-color{ background:#007aa9; color:#FFF; width:50px;}
.b2-color{ background:#6a4b88; color:#FFF; margin-top:4px; width:20px;}

.text-left{ text-align:left;}
.text-right{ text-align:right;}
.text-center{ text-align:center;}

.icon{margin:0 2px; font-size:12px;}/*添加/新建按钮“+”样式 */
.modal-title{ font-size:14px !important;}/* 弹窗标题文字 样式 */

table { margin:7px 0; width:100%; }
table td,table th {
    /*
    text-align:center;
    */
    padding:7px;
    border-bottom:1px solid #e3e3e3;
}

/* project 授权弹窗 */
.modal-header{  border-radius:4px 4px 0px 0px; background-color: #dadada;}
.accredit ul li{float: left;margin-right: 12px; list-style:none;}

.input-au{width: 240px;background: #f2f2f2;}
#basic-addon1{
    width:30px;
    height:30px;
    border-radius:50%;
    overflow:hidden;
    padding: 0;
    float:left;
    margin:3px 0px 3px 15px;
}
#account_right{border:none; width:190px; float:right; margin-top:2px;background: #f2f2f2;box-shadow:none;}
#btn-box{text-align: center;border-top: none;}

/* Footer版权 开始 */
.footer{
    margin-top: 2%;
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", Arial;
    padding:10px 1%;
    background:#f1f1f1;
}
/* Footer版权 结束 */

/*自定义列*/
.custom2{
    position: absolute;
    top: 100%;
    right:0px;
    /*z-index: 1000;*/ z-index: 2;
    min-width:120px;
    padding: 5px 12px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* 数据源 */
#data-source{/*padding:2% 1%;*/ padding:2% 0;}
.data-title{font-size: 16px;background:#dbdbdb;line-height:45px;display:block;padding-left:24px;}
.data-title img{padding-right:8px;}

/* 源数据左侧 */
.data-sidebar{ float: left;width:29%;margin-right:1%; padding-bottom:5%;background: #f7f7f7;}
.dataset{ margin-top:20px;}
.dataset th,.dataset td{ border-bottom:none;}
.dataset th{ text-align: right;color:#a6a6a6;font-weight:normal;width: 150px;white-space: nowrap;}
.gene-panel{ vertical-align:top;}

/* 上传数据按钮 */
.bata-upload{ width:80%;display:block;margin:16% auto 0;}

/* 数据弹窗样式 */
#file-upload{ padding:5% 15%;}
.submit{ margin:8% 40% 0;padding-left:5%;padding-right:5%;}
#upload-input{ background:#f2f2f2;width:82%; /*display: inline-block;*/ float: left;}

/* 本地上传文件按钮 */
.uploader{
    position:relative;
    display:inline-block;
    overflow:hidden;
    cursor:default;
    margin-bottom:17px;
    width:100%;
    padding-left: 1px;
}
.filename{
    display:inline-block;
    outline:0 none;
    color:#999;
    overflow:hidden;
    cursor:default;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.uploader input[type=file]{
    position:absolute;
    top:0; right:0; bottom:0;
    border:0;
    /*padding:0; margin:0;*/
    height:36px;
    cursor:pointer;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity:0;
    width: 65px;
}
#browse{ background:#d0d0d0;top:0px;left:12px;height: 34px;position: relative; border: none;color:#fff; text-shadow: none;}

/* 质量控制 */
.data-control{float: left;background:#f7f7f7;width:70%;}
.data-list{margin-top:30px;}
.data-list tr{text-align: center;}
.data-list td{border-bottom:none;padding-bottom:40px;}
.data-list span{display:block;font-size:18px;color:#8d8d8d;}
.data-list strong{font-size:36px;font-weight: normal;display:block;line-height:50px;color: #525252;}

/* 突变页字体颜色 */
.pro_dl dt p{ line-height:normal; margin:2px;	}
.font_orange{ color:#faa111;}
.font_green{ color:#008307;}
.font_blue{ color:#4b92ce;}
.b1_color{ background:#007aa9; color:#FFF; width:50px;}
.b2_color{ background:#6a4b88; color:#FFF; margin-top:4px; width:50px;}
.b3_color{ background:#047f02; width:10px; height:6px;}
.b4_color{ background:#ccc; width:10px; height:6px;}
.b5_color{ background:#f9a912; width:10px; height:6px;}
.margin23{ padding-left:50px;}

/* 新建项目和添加样本中弹框内容的样式 */
/*.clinicalBox{width: 66%;} 可能不会用到这句样式，故暂注释掉*/

/*
.dropdown-menu{padding-bottom: 0;}
#head_add_project,#header_add_sample{background:#51b80d;color: #fff;line-height: 28px;}
*/

/* 项目参与者 图标颜色 开始 */
.glyphicon-gold{ color: #f1cc00;}
.glyphicon-green{ color: #93dd6e;}
.glyphicon-grey{ color: #d2dce2;}
/* 项目参与者 图标颜色 结束 */

/*header中的“添加样本”的提示*/
.sampleTip{padding: 0 8px 5px 94px;display:none;}
.sampleTip img{padding-right: 6px;margin-top: -2px;}
.sampleTipClinical{margin-top: -10px;}
.samTipAttribute{padding-top:6px;}
.star{color: #f00; }