@charset "utf-8";
/*新版病人页的样式引用*/
ol,ul,h5,h6{list-style: none;margin: 0;padding: 0;}
/*.clear{clear: both;}*/
.patientInfo{padding-top: 10px;}
/*标题*/
.patient_title {
    clear: both;
    position: absolute;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
hr {
    border-top: 1px solid #8c8c8c;
}
.titleFont {
    position: relative;
    top: -38px;
    width: 1100px;margin: 0 auto;
}
.titleFont span {
    background: #fff;
    line-height: 34px;
    padding: 0 10px;
    font-size: 16px;
}
.paedit {
    float: right;
    margin-top:5px;
    width:82px;padding: 2px 0;border-color:#8c8c8c;
}
/*病人信息*/
.space {
    padding-top: 62px;
    width: 995px;
    margin: 0 auto;
}
.patbasicInfo{padding-bottom:29px;padding-left: 5%;}
.patbasicInfo ul li {
    width: 49%;
    display: inline-block;
    line-height:30px;
    color: #282525;
}
.patbasicInfo ul li label {
    font-weight: 100;
    margin-bottom: 0;
}
.patbasicInfo ul li input {
    border-radius: 4px;
    border: none;
    background: none;
    padding: 0 5px;
    color: #282525;
    width: 70%;
}
#birth{width: 64%;}
#contacts{width: 76%;}
#home_phone{width: 73%;}
/*健康模块*/
.health{padding-top: 54px;}
/*共用样式简写*/
.pablue, .pablueDay,.purple, .purpleDay,.genetic, .treat {
    border-radius: 3px;
    display: inline-block;
    margin-left:4px;
}
.pablue, .pablueDay,.purple, .purpleDay{ padding:0px 3px 3px 3px;}
.genetic,.treat{width: 16px;height: 16px;
    position: relative;
    top: 3px;
}
.pablue, .pablueDay {background: #6bd8f7;}
.purple, .purpleDay {background: #a76af5;}
.genetic {background: #6bb6f7;}
.treat {background: #f6b36c;}

h5,h6{font-size: 14px;float: left;width:100px;text-align: right;margin-right: 10px;}
h5{line-height:32px;}
h6{line-height:24px;}

.MothBox ul li span ,.DayBox ul li span{
    display: block;
    float: left;
    margin-left:3px;
    background: #efefef;
    border-radius: 6px;
    text-align: center;
    color: #fff;
}
.PastHistory,.DayHistory { display: none;position: relative;}
.PastHistory ul li strong,.DayHistory ul li strong {
    display: block;
    float: left;
    text-align: right;
    width:100px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 12px;color: #595959;
}
.PastHistory a , .DayHistory a {
    display: block;
    float: left;
    margin-left:3px;
    border-radius: 6px;
    border: 1px solid #68d0d1;
    background: none;
    text-align: center;
    color: #fff;
}
.MothBox ul li span.paBlueTitle,.PastHistory a.paBlueBlock,
.DayBox ul li span.paBlueTitle,.DayHistory a.paBlueBlock{background: #6bd6f8;cursor: pointer;}

.MothBox ul li span.purpleTitle ,.PastHistory a.purpleBlock,
.DayBox ul li span.purpleTitle,.DayHistory a.purpleBlock{background: #a76af5;cursor: pointer;border: none;}

.MothBox ul li span.geneticTitle,.PastHistory a.geneticBlock,
.DayBox ul li span.geneticTitle{ background: #6bb6f7;cursor: pointer;}

.MothBox ul li span.treatTitle,.PastHistory a.treatBlock,.DayBox ul li span.treatTitle {background: #f6b36c;}

.monthPage ul li strong,.dayPage ul li strong {
    display: block;
    float: left;
    text-align: right;
    width:100px;
    margin-right: 10px;
    font-weight: normal;
}
.monthPage ul li a ,.dayPage ul li a {
    display: block;
    float: left;
    margin-left:3px;
    border-radius: 6px;
    background: none;
    text-align: center;
    text-decoration: none;
}
/*每月状态模块*/
.MothBox ul li {
    line-height: 33px;
    clear: both;
    margin-bottom:4px;
}
.MothBox ul li span,.PastHistory a {
    width: 33px;
    height: 33px;
}
.PastHistory {z-index: 6;padding: 2px 0;}
.pablueBox{display: none;}
.PastHistory ul li {margin-bottom:6px;}

/* 每月分页符 */
.monthPage{padding-top: 6px;}
.monthPage ul li strong {line-height: 30px;}
.monthPage ul li a {width: 33px;height: 33px;border: 1px solid #8b8b8b;line-height: 32px;color: #454545;}

/*每天状态模块*/
.calendar_month_mode{line-height:28px;padding: 0 16px 14px 113px;}
.patient_return_btn{background: #68d0d1;border: none;padding: 5px 20px;margin-right: 17px;}
/*.DayBox{padding-top: 14px;}*/
.DayBox ul li {line-height: 24px;clear: both;padding-bottom: 5px;}
.DayHistory {padding-top: 5px;}
.DayBox ul li span,.DayHistory a { width: 25px;height: 25px;}

/* 每天分页符 */
.dayPage ul li strong {line-height: 24px;color: #9e9e9e;}
.dayPage ul li a {width: 25px;height: 25px;border: 1px solid #efefef;line-height: 24px;color: #9e9e9e;}
.icon-twelve{font-size:12px;color: #000;top: 0;
    font-family: inherit;
    font-weight: bold;
}
/*日历样式*/
.triangle {
    color: #fff;
    cursor: pointer;
    margin-top:8px;
}
.showDate2{
    background: #69cfd1;
    border: 0 none;
    color: #fff;
    text-align: center;
}
.prev_y, .next_y {
    color: #fff;
    cursor: pointer;
    padding:1px 10px;
}
/*鼠标经过色块时浮出的色块*/
.patient_mouse_content{font-size: 12px;padding-top: 5px;}
.patient_mouse_content p{margin:0;padding: 0 15px;line-height: 24px;}
.patient_mouse_content a{background: #11b2bc;display: block;text-align: center;line-height: 24px;color: #fff;cursor: pointer;}
.day-calendar{width:200px;}
.blue_border{border-color:#11b2bc;padding: 0;}
.triangle_box{border-right-color:#11b2bc !important;}
#attributes_list li{line-height:30px;}

/*每天状态下的病人史弹窗*/
.diseaseModal ul li{clear: both;margin: 8px 0;}
.diseaseModal ul li label{width: 30%;text-align: right;float: left;line-height: 34px;font-weight: normal;margin-bottom: 0;}
.diseaseModal ul li input{width: 70%;}