@charset "utf-8";
/* CSS 个人信息主 CSS文件 */

.container dl{ text-align:center; margin:6px auto 13px;}
.head-portraitOne{ width:158px; height:158px; border-radius:50%; overflow:hidden; background-color:#FFF;text-align:center; margin:0px auto 8px; border:4px solid #d8d8d8;}
.sanger{ font-size:26px; margin: 4px 0;}

.nav-tabt{
    width:auto;
    margin:0 auto 22px;
    text-align:center;
    background-color:#53b4d4;
}
.nav-tabs2 {
    width:128px;
    margin:0 auto;
    background-color:#53b4d4;
}
.nav-tabs2 > li {
    width:128px;
    float: left;
    line-height: 53px;
    color: #fff;
    margin-bottom: -1px;
}

.icon-circularTwo {
    text-align:center;
    margin:12px 2px;
    background:#53b4d4;
    color:#fff;
    padding:0;
    width:27px;
    height:27px;
    border-radius:50%;
    overflow:hidden;
}
.information-list dl{ width:50%; float:left; margin:0 0 10px !important; background-color:#f1f6fa;}
.information-list dl dt{ width:94px; height:94px; padding-top:10px; color:#FFF; background-color:#53b4d4; float:left; font-weight: normal;}
.information-list dl dd{ width: auto; line-height:94px; padding-left:15px; text-align:left; float:left;}
.absolutely{ width:100% !important;}


.table-title{ background-color:#53b4d4; color:#FFF; border:none;}
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th {
    background-color: #f3f7fb;
    line-height: 2.3;
}

.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th {
    background-color: #e9f0f6;
    line-height: 2.3;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    padding: 8px;
    vertical-align: top;
    border-top:none !important;
}
.table > thead > tr > th {
    vertical-align: bottom;
    line-height:32px;
    border-bottom: none;
}

.table td,.table th {
    /*
    text-align:center;
    */
    padding:7px;
    border-bottom:none !important;
}

/* 新建站内信 开始*/
.letters{ width: 100%; margin: 0; padding: 0;}
.letters label{}
.letters input,.letters textarea{ width: 80% !important;}
.cca{ width: 84.6%; margin-bottom: 20px !important; margin-left: 40px;}