html{_background-image:url(about:blank);/*用浏览器空白页面作为背景*/_background-attachment:fixed;/* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/}
body{behavior:url(css/csshover.htc);height:100%;}

table {width:100%;border:1px solid #e3e3e3;}
table td {padding:5px;}

.b1 {border:1px solid #ccc;}

/* Login */
#crmlogin {position:absolute;left:50%;top:40%;width:260px;height:320px;margin-left:-130px;margin-top:-150px;text-align:center;border:1px solid #ccc;border-radius:25px;-moz-border-radius:25px; /* Old Firefox */-moz-box-shadow: 5px 5px 5px #ccc; /* Old Firefox */box-shadow: 5px 5px 5px #ccc;background:#fff;}
#crmlogin .logo {margin:10px auto;vertical-align:bottom;width:176px;height:151px;background:url(../images/loginlogo.png) no-repeat;}
#crmlogin .login ul li {text-align:center;margin:15px 0;}
#crmlogin .login input {border:1px solid #ccc;height:28px;line-height:28px;padding-left:40px;}
#crmlogin .login .username {width:160px;background:#fff url(../images/username.png) no-repeat -1px -1px;color:#999;}
#crmlogin .login .password {width:160px;background:#fff url(../images/password.png) no-repeat -1px -1px;color:#999;}
#crmlogin .login .dl {border:0 none;background:#fff url(../images/dl.png) no-repeat center center;width:82px;height:33px;cursor:pointer;}
#crmlogin .login ul li.error {padding-top:10px;color:#fff;}
.copyright {position:absolute;bottom:0;background:#fff;width:100%;padding:10px;color:#999;text-align:center;}
/* Login End */

/* Header */
header {height:50px;background:url(../images/topbg.png);border-bottom:1px solid #ccc;}
header .logo img {margin:4px 15px;}
header ul {float:right;}
header ul li {float:left;background:url(../images/topline.png) no-repeat 0 0;height:50px;line-height:50px;padding:0 15px;}
header ul li a {color:#666;display:inline-block;}
header ul li span.bell {display:block;background:url(../images/bell.png) no-repeat 0 center;padding-left:20px;}
header ul li span.bell a {color:#3399ff;}
header ul li a.exit {background:url(../images/exit.png) no-repeat 0 center;padding-left:20px;}
/* Header End */

/* Nav */
nav {overflow:hidden;height:1000px;float:left;background:#e7ebef;}
nav dl {width:204px;border-right:1px solid #dbdbdb;padding-bottom:30000px;margin-bottom:-30000px;}
nav a {display:block;}
nav a.additem {background:url(../images/additem.png) no-repeat;width:132px;height:33px;padding-left:50px;color:#b6ccff;font-size:12px;height:33px;line-height:33px;margin:10px;}
nav ul li {background:#dae3ed;height:40px;line-height:40px;}
nav ul li a {text-indent:3em;font-size:14px;color:#839bb7;background:url(../images/lefticon.png) no-repeat 15px center;}
nav ul li a.selected {font-weight:bold;color:#333;background:#fff url(../images/right.png) no-repeat right center;padding-right:15px;}
/* Nav End */

/* Section */
section {margin-left:205px;height:1000px; overflow-y:scroll;}
section #wrapper {background:#fff;padding:15px;}

section #wrapper .searchwrap {padding:10px 0;position:relative;}
section #wrapper .searchwrap input {border:0 none;height:34px;line-height:34px;}
section #wrapper .searchwrap .searchbox {background:url(../images/searchbox.png) no-repeat 0 0;width:315px;padding:0 10px;}
section #wrapper .searchwrap .searchbn {background:url(../images/searchbn.png) no-repeat 0 0;width:37px;height:34px;cursor:pointer;position:absolute;left:310px;}

section #wrapper #tablewrap {margin-top:1px;}
section #wrapper #tablewrap .operate {background:url(../images/operatebg.png);height:39px;}
section #wrapper #tablewrap .operate span {float:right;padding:5px;position:relative;}
section #wrapper #tablewrap .operate span a {display:inline-block;background:url(../images/sortbn.png) no-repeat 0 0;width:86px;text-align:center;height:30px;line-height:30px;color:#fff;font-size:12px;}
section #wrapper #tablewrap .operate span a i {float:right;width:12px;height:7px;margin:12px 8px 0 0;background:url(../images/updown.png) no-repeat 0 -7px;}
section #wrapper #tablewrap .operate span a i.on {background:url(../images/updown.png) no-repeat 0 0;}
section #wrapper #tablewrap .operate span a.selected {background:url(../images/sortbn.png) no-repeat 0 -30px;color:#000;}
section #wrapper #tablewrap .operate span a.selected i {background:url(../images/updown_on.png) no-repeat 0 -7px;}
section #wrapper #tablewrap .operate .addxys {float:left;width:100px;height:39px;line-height:39px;background:url(../images/add.png) no-repeat 15px 13px;padding-left:40px;color:#666;}

section #wrapper #tablewrap .operate .pop_jb {display:none;z-index:9999;position:absolute;left:95px;top:35px;width:215px;height:140px;background:#fff;border:1px solid #298cb6;}

section #wrapper #tablewrap .operate span #Illnesslist .list {margin:10px;height:80px;overflow-y:scroll;}
section #wrapper #tablewrap .operate span #Illnesslist .list li {height:24px;line-height:24px;}
section #wrapper #tablewrap .operate span #Illnesslist .list li a {display:block;width:auto;text-align:left;background:none;color:#666;font-size:14px;padding:0 5px;}
section #wrapper #tablewrap .operate span #Illnesslist .list li a:hover {background:#555;color:#fff;}
section #wrapper #tablewrap .operate span #Illnesslist .add {width:100%;border-top:1px solid #ccc;background:none;padding:0 10px;text-align:left;color:#666;}

section #tab-title {background:url(../images/operatebg.png);height:39px;}
section #tab-title span {float:right;}
section #tab-title span .addbs {display:block;background:url(../images/add.png) no-repeat 0 center;padding-left:25px;color:#666;font-size:12px;}
section #tab-title a {display:inline-block;height:39px;line-height:39px;padding:0 25px;background:url(../images/tabeltitleline.png) no-repeat right center;}
section #tab-title a.selected {background:url(../images/tabeltitlebgon.png);border-right:1px solid #dedede;}
section #tab-content .contentfirst{display:none;}
section #tab-content .contentin{display:block;margin:1px 0;}

section #wrapper #tablewrap .table tr {cursor:pointer;border-bottom:1px solid #e3e3e3;}
section #wrapper #tablewrap .table tr:hover {background:#e7ebef;} 
section #wrapper #tablewrap .table th {background:#f2f2f2;color:#666;height:40px;line-height:40px;border:1px solid #e3e3e3;}
section #wrapper #tablewrap .table td {height:40px;line-height:40px;text-align:center;vertical-align:middle;}
section #wrapper #tablewrap .table td.a-l {text-align:left;}
section #wrapper #tablewrap .table td a {display:inline-block;}
section #wrapper #tablewrap .table td a:hover {color:#0066cc;text-decoration:underline;}
section #wrapper #tablewrap .table td a.checkreport {background:url(../images/checkreport.png) no-repeat center center;height:30px;line-height:30px;width:76px;text-align:center;}
section #wrapper #tablewrap .table td a.checkreport:hover {color:#000;text-decoration:none;}
section #wrapper #tablewrap .table td a.uploaddata {background:url(../images/uploaddata.png) no-repeat center center;height:30px;line-height:30px;width:76px;text-align:center;color:#fff;}
section #wrapper #tablewrap .table td a.uploaddata:hover {text-decoration:none;}

section #wrapper #tablewrap .table td label {display:inline-block;width:100px;}

section .table_base {width:100%;}
section .table_base th {background:#f2f2f2;color:#666;height:40px;line-height:40px;border:1px solid #e3e3e3;text-align:right;padding:0 15px;}
section .table_base td {padding:15px;}

section #wrapper .pageview {padding:15px;text-align:center;color:#666;}
section #wrapper .pageview a {display:inline-block;margin:0 10px;color:#666;background:url(../images/pagesbg.png) no-repeat 0 0;width:28px;text-align:center;height:32px;line-height:32px;}
section #wrapper .pageview a.selected {background:url(../images/pagesbg.png) no-repeat 0 -32px;}
section #wrapper .pageview a.prev,section #wrapper .pageview a.next {background:url(../images/bn.png) no-repeat 0 0;width:65px;}

.pop_addxm {display:none;z-index:9999;position:absolute;left:50%;top:50%;width:200px;height:130px;margin-left:-100px;margin-top:-65px;background:#fff;border:1px solid #ccc;padding:15px;text-align:center;border-radius:5px;-moz-border-radius:5px; /* Old Firefox */-moz-box-shadow: 2px 2px 2px #ccc; /* Old Firefox */box-shadow: 2px 2px 5px #ccc;}
.pop_addxm h2 {color:#666;padding-bottom:15px;text-align:left;}
.pop_addxm .textbox {background:url(../images/textbox.png) no-repeat 0 0;width:190px;height:24px;border:0 none;padding:5px;}
.pop_addxm p {margin-top:15px;}
.pop_addxm .affirm {background:url(../images/affirm.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;}
.pop_addxm .cancel {background:url(../images/cancel.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;margin-left:10px;}

.pop_addxys {display:none;z-index:9999;position:absolute;left:50%;top:50%;width:440px;height:200px;margin-left:-220px;margin-top:-100px;background:#fff;border:1px solid #ccc;padding:15px;border-radius:5px;-moz-border-radius:5px; /* Old Firefox */-moz-box-shadow: 2px 2px 2px #ccc; /* Old Firefox */box-shadow: 2px 2px 2px #ccc;}
.pop_addxys ul li {float:left;width:50%;margin:10px 0;}
.pop_addxys ul li label {display:inline-block;width:75px;text-align:right;}
.pop_addxys ul li input {border:1px solid #ccc;width:130px;padding:5px;}
.pop_addxys p.bn {margin:15px 0;text-align:center;}
.pop_addxys p.bn .affirm {background:url(../images/affirm.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;}
.pop_addxys p.bn .cancel {background:url(../images/cancel.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;margin-left:10px;}

.pop_addbs {display:none;z-index:9999;position:absolute;left:50%;top:50%;width:440px;height:200px;margin-left:-220px;margin-top:-100px;background:#fff;border:1px solid #ccc;padding:15px;border-radius:5px;-moz-border-radius:5px; /* Old Firefox */-moz-box-shadow: 2px 2px 5px #ccc; /* Old Firefox */box-shadow: 2px 2px 5px #ccc;}
.pop_addbs ul li {float:left;width:50%;margin:10px 0;}
.pop_addbs ul li label {display:inline-block;width:65px;text-align:right;}
.pop_addbs ul li input {border:1px solid #ccc;width:130px;padding:5px;}
.pop_addbs p.bn {margin:15px 0;text-align:center;}
.pop_addbs p.bn .affirm {background:url(../images/affirm.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;}
.pop_addbs p.bn .cancel {background:url(../images/cancel.png) no-repeat 0 0;width:35px;height:32px;border:0 none;cursor:pointer;margin-left:10px;}

#eidtwrap h2 {background:url(../images/operatebg.png);height:39px;line-height:39px;padding:0 15px;font-weight:normal;}
#eidtwrap h2 b {display:inline-block;width:150px;}
#eidtwrap h2 label {display:inline-block;width:70px;padding:0 10px;text-align:right;}
#eidtwrap h2 input {width:120px;border:1px solid #d0d0d0;padding:2px;}
#eidtwrap h2 a.edit {float:right;background:url(../images/expand.png) no-repeat right center;padding-right:15px;display:inline-block;color:#999;}
#eidtwrap .editcontent {border-width:0 1px 1px 1px;border-style:solid;border-color:#eee;padding:15px;}
#eidtwrap .editcontent ul li {float:left;width:400px;margin:10px 0;}
#eidtwrap .editcontent ul li label {display:inline-block;width:223px;padding:0 10px;text-align:right;}
#eidtwrap .editcontent ul li input {width:120px;border:1px solid #d0d0d0;padding:2px;}
#eidtwrap .editcontent p {margin:10px 0;padding-left:243px;}
#eidtwrap .editcontent p input {border:0 none;margin-right:10px;}
#eidtwrap .editcontent p .save {background:url(../images/save.png);width:75px;height:30px;cursor:pointer;}
#eidtwrap .editcontent p .modify {background:url(../images/modify.png);width:75px;height:30px;cursor:pointer;}

#eidtwrap .editcontent_tmp {border-width:0 1px 1px 1px;border-style:solid;border-color:#eee;padding:15px;}
#eidtwrap .editcontent_tmp p {display: block;margin:10px 0;padding-left:243px;}
#eidtwrap .editcontent_tmp p input {border:0 none;margin-right:10px;}
#eidtwrap .editcontent_tmp p .save {background:url(../images/save.png);width:75px;height:30px;cursor:pointer;}
#eidtwrap .editcontent_tmp p .modify {background:url(../images/modify.png);width:75px;height:30px;cursor:pointer;}


.ysj {padding:15px;border:1px solid #dae3ed;border-radius:3px;-moz-border-radius:3px;}
.ysj li {margin:20px 0;color:#666;}
.ysj li b {display:inline-block;color:#4d739f;padding:0 5px 0 25px;height:18px;}
.ysj li.qy b {background:url(../images/icon4.png) no-repeat 0 0;}
.ysj li.gp b {float:left;background:url(../images/icon4.png) no-repeat 0 -28px;}
.ysj li.gp span {float:left;width:80%;line-height:24px;position:relative;top:-5px;}
.ysj li.cxff b {background:url(../images/icon4.png) no-repeat 0 -56px;}
.ysj li.sj b {background:url(../images/icon4.png) no-repeat 0 -84px;}
.ysj li.sj a {display:inline-block;width:75px;height:30px;vertical-align:middle;margin:0 5px;}
.ysj li.sj a.upload {background:url(../images/upload.png);}
.ysj li.sj a.download {background:url(../images/download.png);}

.showmore {text-align:center;margin:20px auto;}
.showmore a {display:inline-block;background:url(../images/showmore.png);width:135px;text-align:center;height:30px;line-height:30px;color:#fff;}
.showmore a:hover {color:#fff;}

.table_testreport th {background:#f2f2f2;color:#666;height:40px;line-height:40px;border:1px solid #e3e3e3;text-align:right;padding:0 15px;}
.table_testreport tr {border-bottom:1px solid #e3e3e3;}
.table_testreport td {padding:15px;}
.table td img,.table_testreport td img {margin-left:5px;}
.table_testreport td dl dt {color:#4d739f;}
.table_testreport td dl dt b {padding-left:25px;}
.table_testreport td dl dt.bqzd b {background:url(../images/icon1.png) no-repeat 0 2px;}
.table_testreport td dl dt.zltj b {background:url(../images/icon1.png) no-repeat 0 -22px;}
.table_testreport td dl dt.kyx b {background:url(../images/icon1.png) no-repeat 0 -48px;}
.table_testreport td dl dt.yhpg b {background:url(../images/icon1.png) no-repeat 0 -75px;}
.table_testreport td dl dd {padding:10px 25px;}
.table_testreport td dl dd b {display:block;padding:10px 0;}
.table_testreport td dl dd b img {vertical-align:middle;}
.table_testreport td dl dd p {margin:10px 0;}
.table_testreport td dl dd p u {text-decoration:none;color:#4d739f;font-weight:bold;}

.tblist span {display:block;}
.tblist .moretb {color:#0066cc;}
/* Section end */

/* Footer */
footer {clear:both;border-top:1px solid #dbdbdb;padding:15px;color:#999;text-align:center;font-size:12px;}
/* Footer End */