/**
 * Created by lsl on 2015/6/3. word-break: break-all;
 */
.cloud a:hover { text-decoration: underline; color: rgb(116, 35, 86); }
.cloud a { text-decoration: none; }
div.cloud{text-align: center; height: 284px; table-layout:fixed; word-wrap:break-word; overflow:hidden;}
.yellow {/*font-size: 26px;*/font-size: 22px;
    color: rgba(238, 202, 5, 1);opacity: 100}
.green {/*font-size: 20px;*/font-size: 18px;
    color: rgba(87, 190, 183, 1);opacity: 80}
.blue {font-size: 14px;color: rgba(101, 162, 211, 1);opacity: 60}