@charset "utf-8";
/* CSS Document */
ol, ul {list-style: none;margin: 0;padding: 0;}
a,a:hover,a:visited,a:active{text-decoration: none;}
/*APP1结果的样式*/
.app-result{padding-top:64px;}
/*导航菜单*/
.nav-gray{background: #aaa;height: 47px;}
.app-nav{position: relative;top: -54px;}
.nav-content thead, .nav-content tbody{float: left;}
.nav-content tr th,.nav-content tr td{text-align: center;border: none;padding: 0;line-height: 47px;color: #fff;}
.nav-content thead{
	background: #505050;
	padding-top: 31px;
	padding-bottom: 24px;
	margin-top: -31px;
	border-radius: 5px;
}
.nav-content thead{
	width: 16%;
}
.nav-content tbody{
	width: 84%;
}
.nav-content tr,.nav-content tr th{display: block;}
.nav-content tr th{line-height: 47px;font-size: 16px;}
.nav-content tbody tr td{width:140px;}
.nav-content tr th a{
    border-radius: 3px;
    color: #fff;
    line-height:30px;
	height: 30px;
	overflow: hidden;
	display: block;
	text-align: left;
	padding-left:30px;
	margin: 10px 15px 15px;
	font-weight: normal;
	font-size: 14px;
}
.nav-content tr th a:hover,
.nav-content tr th a.current{
	background:url(../images/columnar.png) no-repeat #fff 8px;
    color: #000;
}
.nav-content .app_value td{color: #4e4d4d;}
/*大柱状图容器*/
.app-diagram{text-align: center;}