.showDate {
    background-color: #eceff4;
    border:none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    text-align: center;
}
.dn {display: none;}
.btn_selectDate {
    background: #69cfd1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    float: left;
    text-align: center;
    height: 30px;
    width: 33px;
}
.calendar_body {
    position: absolute;
    z-index: 99;
    margin-top: 2px;
    width: 184px;
}
.year_box {
    background: #69cfd1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.month_box {
    background-color: #eceff4;
    padding: 10px 2px;
    width: 184px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.month_box ul {
    clear: both;
    list-style:none;
}
.month_box li {
    background-color: #eceff4;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    text-align: center;
    width: 60px;
    margin: 3px 0;
    padding: 2px 0;
}
.month_box li:hover {background-color: #69cfd1;}
.show-month{width: 120px;}