@charset "utf-8";
/* CSS Document */
h1{ font-size:50px; line-height:26px; letter-spacing: 0px;}
h2{ font-size: 28px; margin: 2px; line-height: 16px;}
h3{ font-size: 20px;}

.border-none{ border:none !important;}
.margin{ margin:4px 0 3px -6px !important;}

.dashboard-container{ width: 1312px; margin:12px auto 0;}
.border{
    /*width:98.4%;*/
    width:1293px;
    padding:14.5px 0;
    margin: 0 9.5px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.border ul{ list-style-type:none; margin: 0; padding: 0;}
.border ul li{ float:left; width:20%; color: #6f6f6f; line-height: 37px; font-size:20px; text-align:center; border-right:1px solid #cecccd; cursor:default;}


.panel-body{ width:100%; padding:0px; margin-bottom:23px;}
.dsahboard-module{ width:418px; height: 278px; float:left; margin:0 9.5px 10px;}

.dsahboard-module-on { border: 1px solid #002bb8;
    background:#57bfb8;
    float:left;
    width:100%;
    height: 172px;
    padding:8px 10px;
    border:1px solid #57bfb8;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#FFF;
}
.dsahboard-title{ width: 100%; float: left; margin: 0px;}
.dsahboard-title dt{ width:80%; float:left; font-size: 16px;}
.dsahboard-title dt input{ padding: 0px;}
.dsahboard-title dd{ width:20%; float:left;}

.badgeTwo{ background:#db5959; border: 1px solid #58bfb7; color: #58bfb7; width: 16px; height: 16px; border-radius:50%; line-height: 14px; font-size: 12px; padding-left: 3px; margin-left: 36px; margin-top: -6px; z-index: 999; position: absolute;}

.dsahboard-module-under { width:70px; float:left; height: 106px; padding: 12px 0 10px; text-align:center;}
.dsahboard-module-under dt,.dsahboard-module-under dd { margin:8px auto;}
.border-lr { border-left:1px solid #ccc; border-right:1px solid #ccc;}

.dsahboard-label{ width:100%; float:left; margin:0px;}
.dsahboard-label small{ font-size:16px; margin-top: -10px !important;}
.dsahboard-label dt{ width:36%; float:left; font-size: 16px; margin-top:86px; font-weight:100;}
.dsahboard-label dd{ width:28%; float:left;}

.dsahboard-label dd a{
    text-decoration: none;
    color: #000;
    display:block;
    padding-top:8px;
    text-align:center;
    margin:6px auto;
    background:#d7fffe;
    width:105px;
    height:105px;
    border-radius:50%;
    overflow:hidden;
}
.dsahboard-label dd a:hover,.dsahboard-label dd a.selected{background-color: #a4f2ed;  width:105px; height:105px; border-radius:50%;}

.grouping-centre {
    background:#fbd17d;
    padding:.1px 12px;
    width:30%;
    color:#FFF;
    margin-top:-20px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.icon-circular {
    text-align:center;
    background: #eaeaea;
    width:51px;
    height:51px;
    border-radius:50%;
    overflow:hidden;
}
.icon-circularTwo {
    text-align:center;
    margin:0 0 0 10px;
    background:#fff;
    color:#57bfb8;
    padding:2px 0 0 0;
    width:24px;
    height:24px;
    border-radius:50%;
    overflow:hidden;
}
.icon-circularTwo-i{ padding: 4px 0 0 2px; margin-top: 1px;}
.icon-circularThree{
    text-align:center;
    margin:20px 30px;
    background:#57bfb8;
    color:#fff;
    font-size:16px;
    padding:16px;
    width:68px;
    height:68px;
    border-radius:50%;
    overflow:hidden;
}
.icon-circularFour	{
    text-align:center;
    margin: 7px auto 0;
    padding: 16px 8px 0;
    background:#d7fffe;
    border: 1px solid #ff0000;
    color:#57bfb8;
    width:105px;
    height:105px;
    border-radius:50%;
    overflow:hidden;
}
.icon-circularFour p{ margin-top: -4px;}
.t  {border:none; background:none; font-size:20px; padding:0 0 0 5px; width:100%;}
.s  {border:1px solid #369; background:none; font-size:20px; padding:0 0 0 5px; width:100%;}

/* 创建项目分组 */
.grouping-add {
    background: url(../images/create-project.png) no-repeat;
    width:100%;
    text-align:center;
    height:300px;
    float:left;
    color:#57bfb8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.grouping-plus {
    background-color: #57bfb8;
    font-size:46px;
    padding:7%;
    margin-top:8%;
    color:#fff !important;
    width:128px;
    height:128px;
    border-radius:50%;
}

/* 样本检测部分 CSS*/
.dsahboard-samples{ width:855px; height: 311px; margin:0 9px 0 9.5px;}
.orange{ margin:0px; background:#efcb05 !important; border:1px solid #efcb05; color:#FFF !important;}
.table-hover{ color:#999 !important;}
.table-hover td{ padding-left: 10px;}
.samples-yellow{ color: #efcb05; margin-top: -4px;}
.samples-operation{ width: 200px;}

/* tagCloud */
.dsahboard-tagCloud{ width:419px; margin:0 0 0 9.5px; height:311px; padding: 13px 10px;}
.round-angle{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

/* 分析部分 CSS*/
.dsahboard-analysis{ width:855px; height: 266px; margin:0 9px 0 9.5px;}
.lightBlue{ background:#65a3d4 !important; border:1px solid #65a3d4; color:#FFF !important;}
h5{ color: #333333; margin: 0;}
small{ color:#777 !important;}
.progress{ margin:0 160px 0 0;}
.progress-bar-color{ background:#77c1f2;}
.analysis-arrow { color:#63a2d5; margin-top: -4px;}
.doubi{ border-right: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; width: 296px; text-align: center;}
.doubi img{ margin-left: -4px;}


#slider{ width: 32%; height: 266px; position: relative; margin: 0 9px 0 9.5px;}
.scroll{
    height:164px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #65a3d4;
    color:#fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.scrollContainer div.panelTwo{padding: 5px 40px; height: 168px; width: 456px;}
.scrollContainer div.panelTwo p{line-height: 10px; font-size: 14px; word-wrap: break-word !important;}
.arrow-top{ font-size: 28px; float: left; width: 100%; color: #fff; margin-top: 18px; margin-left: -2px;}
.arrow-top2{ margin-left: 76px;}
.arrow-top3{ margin-left: 154px;}
.arrow-top4{ margin-left: 234px;}
.arrow-top5{ font-size: 28px; float: left; text-align: right; width: 100%; padding-right: 34px; color: #fff; margin-top: 18px;}

ul.navigation{ width:100%; margin: 0; padding:0 13px; float:left;}
ul.navigation li{
    width:20%;
    float:left;
    list-style-type:none;
    text-align:center !important;
}
ul.navigation a{color: #000; display:block;
    padding-top:4px;
    text-align:center;
    margin:15px auto;
    background:#77c1f2;
    width:58px;
    height:58px;
    border-radius:50%;
    overflow:hidden;
}
ul.navigation a:hover,ul.navigation a.selected{background-color: #65a3d4;  width:58px; height:58px; border-radius:50%;}
ul.navigation a:focus{outline: none;}
.scrollButtons{position: absolute; top: 84px;cursor: pointer;}
.scrollButtons.left{left:0; z-index:1;}
.scrollButtons.right{right:0; z-index:1;}
.button-w{ width:28%; margin-top: 16px; color: #5896bf;}

/* 轮播部分CSS */
.carousel-indicators {
    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #57bfb8;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #d7fffe;
}

.carousel-controlTwo {
    position: absolute;
    top:36px;
    bottom: 0;
    left: 0;
    padding-top:3%;
    width: 6%;
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-controlTwo.left {
    /*
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    */
    background-repeat: repeat-x;
}
.carousel-controlTwo.right {
    right: 0;
    left: auto;
    /*
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    */
    background-repeat: repeat-x;
}
.carousel-controlTwo:hover,
.carousel-controlTwo:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}