@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th{margin:0;padding:0;border:0;outline:0;font-size: 100%;}
:focus {outline: 0;}
body,td,div,p,br,b,strong,i,em,a,pre,img,dl,dt,dd,li,form,th,tr,span{font-family:"Microsoft Yahei","微软雅黑","宋体",Arial, Helvetica, sans-serif;font-size:12px;}
ol, ul {list-style: none;}
a,a:hover,a:visited{color:#000;text-decoration: none;}
.clear{clear:both;}
footer,header {z-index: 11;left: 0;right: 0;position:fixed;}
.section {position: relative;}
.valid,.about,.news{
    max-height:520px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<520?"520px":"");
	overflow-x:hidden;
    /*最大高度*/
    z-index: 200;
}
.products{
    max-height:590px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<590?"590px":"");
	overflow-x:hidden;
    z-index: 200;
    /*最大高度*/}
header{
    width:auto;
    min-width:970px;
    _width:970px;/*最小宽度*/
}
/* 头 */
header{background:url(../images/head_bg.jpg) repeat;height:58px;top:0; width:96%;padding:0 2%;}
.logo{float:left;padding-top:10px;}
nav{float:left;padding-left:30%;}
nav ul li{float:left;line-height:58px;padding:0px 16px;font-size:16px;}
nav ul li a{font-size:16px;}
.proDropBox{display: none;position: absolute;top:58px;left:43%;background: #f6f6f6;width:130px;z-index: 10000;padding:10px 0;
text-align: center;}
.proDropBox li{float: none;line-height: 30px;padding:0px;}
.proDropBox li a{display: block;padding: 0 15px;}
.proDropBox li a:hover{color: #00cc99;}
.login{float:right;padding-right:2%;line-height: 58px;}
.login input{cursor:pointer;background:#eec434;border:none;color:#fff;padding:4px 15px;border-radius:5px;margin-top:14px;margin-right:2px;font-size:14px;}
/* 中间 */
/*首页 */
.index{clear:both;height:100%;}
.indexbg{background:url(../images/indexbg.jpg) center center no-repeat;height:100%;margin-top:-19px;}
.bluebg{height:100%;width:100%;background:#3fbfee;opacity:0.8; /* 一些不支持背景渐变的浏览器 */
background-image: -webkit-radial-gradient(hsla(190,99%,60%,.8),hsla(205,80%,45%,.8));
background-image: radial-gradient(hsla(190,99%,60%,.8),hsla(205,80%,45%,.8));/*火狐*/}
/*网页有效区域的定义*/
.valid{width:1000px;margin:0px auto;padding-top: 10%;}
.valid img{/* padding-top:22%;*/padding-left:60px;}
.apply_btn{padding:12px 42px;border-radius:3px;
    border: none;
    background:#1587ad;
    color:#fff;font-size:18px;margin-top:70px;margin-left:44%;cursor: pointer;}
/*第一屏的弹出框*/
.applyModal{background:#30b5de;opacity: 1; width:500px;height:500px;position:absolute;top: 15%;left:36%;border-radius:6px;box-shadow:0px 1px 5px #8c8c8c;display:none;}
.applyModal a{display:block;padding: 10px 10px 0;position: absolute;right: 0;}
.applyModal span{clear: both;display:block;padding-top:15px;padding-bottom:10px;}
.applyModal span img{display: block;margin:0px auto;}
.applyInfo{background:#fff;height:auto;padding:20px 80px;height:280px;overflow: hidden;border-radius:0 0 6px 6px;}
.applyInfo ul li{margin:8px 0;}
.applyInfo ul li input{border-radius:8px;background:#efefef;border: none;height:46px;line-height:46px;width:96%;padding:0 10px;}
.applyInfo ul li .btn_info{background-color: #5bc0de;border-color: #46b8da; color: #fff;
  -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size:16px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding:12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:100%;margin-top:15px;
}
/* 关于我们 */
.about{width:970px;margin: 0 auto;padding-top:10%;color:#fff;opacity:1;z-index:101;}
.about p{font-size:24px;text-align:center;line-height:36px;padding-bottom: 30px;}
h2{font-size:40px;font-weight:normal;text-align:center;padding-bottom: 30px;}
.about_list ul li{width:230px;float: left;margin:0px 6px;height:326px;overflow:hidden;background:#fff;opacity: 1;box-shadow:2px 2px 2px #2eb1e9;}
.about_list ul li p{padding:15px 15px 0;color:#000;font-size:14px;line-height:24px;text-align:left;}
.about_list ul li p span{display:block;font-size:18px;color:#fff;text-align: center;padding-bottom: 20px;}
.about_list ul li p img{display:block;margin:0px auto;padding-bottom:15px;padding-top:10px;}
.about_list ul li p.yellow{background: #f2c435;}
.about_list ul li p.blue{background: #028fdf;}
.about_list ul li p.green{background: #26d592;}
.about_list ul li p.ligBlue{background: #02d8e0;}
/* 产品和服务 */
.products{width:910px;margin: 0 auto;/*padding-top:10%;*/padding-top: 6%;}
.products ul li{width:416px;border:1px solid #fff;margin:15px 8px 0 0;
    border-radius:4px;color:#fff;
    /*padding:10px;*/
    padding: 5px 10px 10px 5px;
    height: 135px;
    float: left;}
.products ul li p{padding-left:45px;font-size:16px;line-height: 24px;}
#custard{background:#fdffd0;color:#000;}
h4{font-size:24px;font-weight:normal;line-height:30px;
    /*padding:10px;*/padding: 5px;
}
h4 img{vertical-align:top;padding-right:15px;}
/*新闻 */
.news{width:970px;margin: 0 auto;
    padding-top:10%;
    color:#fff;}
.news p{font-size:30px;text-align:center;line-height:46px;}

.news ul{padding-top:3%;}
.news ul li{border-radius:50%;width: 200px;height: 200px;float: left;margin:0 20px;box-shadow:0 0 10px #3ab3de;text-align: center;}
.news ul li img{display:block;margin: 0 auto;padding-top:30px;padding-bottom: 20px;}
.news ul li span{display: block;font-size:20px;}
.news ul li strong{font-weight:normal;display: block;font-size:22px;}

.news ul li.yellow{background: #ddc72f;}
.news ul li.blue{background: #1681d4;}
.news ul li.green{background: #1ec28e;}
.news ul li.lighBlue{background: #0cd5e5;}
/* 底 */
footer{width:99%;padding-left: 3%;top:92%;color:#fff;bottom: 0;text-align:left;}
footer p{line-height:20px; font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", Arial;}
footer a,footer a:hover{color: #fff;}
.index-kik{float: left;width: 35px;height: 35px;padding-top: 4px;padding-right: 8px;}
.foot-kik{display: block;cursor: pointer;}
.foot-kik-img{position: relative;left: -38px;top: -185px;display: none;}
/*全屏滚动样式*/
html, body {
	margin: 0;
	padding: 0;
}
#superContainer {
	height: 100%;
	position: relative;
}
.section {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slide {
	float: left;
}
.slide, .slidesContainer {
	height: 100%;
	display: block;
}
.slides {
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.section.table, .slide.table {
	display: table;
	width: 100%;
}
.tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.slidesContainer {
	float: left;
	position: relative;
}
.controlArrow {
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
}
.controlArrow.prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent;
}
.controlArrow.next {
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff;
}
.scrollable {
	overflow: scroll;
}
.easing {
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
#fullPage-nav.left {
	left: 17px;
}
.fullPage-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
}
.fullPage-slidesNav.bottom {
	bottom: 17px;
}
.fullPage-slidesNav.top {
	top: 17px;
}
.fullPage-slidesNav li {
	display: inline-block;
}
.fullPage-tooltip {
	position: absolute;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	top: -2px;
}
.fullPage-tooltip.right {
	right: 20px;
}
.fullPage-tooltip.left {
	left: 20px;
}

/* 活动页面 */
.activity-bg{background-color:#e8ecef;}
.activity{
    background-color:#53bfeb;
    height:374px;
    text-align:center;
    margin-top:58px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.details,.attention { width:716px; margin:36px auto 0;}
.details ul,.attention ul{}
.details ul li,.attention ul li{ line-height:24px; font-size:14px; color:#242424;}
h3{ font-size:20px;}

.demand{ width:728px; margin:52px auto 84px;}
.demand dl{ line-height:40px;}
.demand dl h3{ text-align:center;}
.demand dl dt{ width:140px; margin:10px 0; padding:0 6px; text-align:right; font-size:14px; float:left;}
.demand dl dd{ width:576px; margin:10px 0; font-size:14px; float:left;}
.demand input,.demand textarea{
    border:1px solid #dfe3e6;
    height:42px;
    padding:0 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.demand input{ width:416px;}
.demand textarea{ padding:14px 6px; margin:10px 0; min-width:416px; max-width:416px; min-height:216px; max-height:316px;}
.btn {
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    font-family:"微软雅黑";
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    width:430px !important;
    margin:12px 0 0 152px;
    color: #fff;
    background-color: #60c3ec;
    border-color: #60c3ec;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #42b5e5;
    border-color: #36a2cf;
}
.footer{ background-color:#818282; width:100%; color:#fff; text-align:left; font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", Arial;}
.copyright{ width:728px; margin:0 auto; padding:14px 0 14px 218px;}
.copyright img{ float:left; margin:1px 12px 0 0;}
.copyright p{line-height:22px; width:80%; float:left;}
.copyright a,.copyright a:hover{color: #fff;}