@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6,hr,dl,dt,dd,ul,li { padding:0px; margin:0px;}
ul { list-style-type:none;}

/*a { color:#666; text-decoration:none;}*/
/*a:hover { text-decoration:underline; }*/
.input-width{ width:62% !important; float:left;}
.select-width{ width:36% !important; float:left; margin-right:2%;}

.floatpanel { width: 400px; z-index: 999; position: fixed; top:51px; right: -372px; _position: absolute;}
.floatpanel a { color:#00a0e9; }
.floatpanel a:hover { color: #ff8100; text-decoration:none; }
.floatpanel .floatL {
    position: relative;
    float:left;
    margin-top:268px;
    height: 120px;
    width:28px;
    cursor: pointer;
    background: #1081a5;
    /*
	background:#1081a5 url(../images/screening-icon.jpg) no-repeat 4px 22px;
	*/
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
    }

.floatpanel .floatL a { text-indent:-9999px; display: block; font-size:0px;}
.floatpanel .btnOpen { background: url(../images/screening-icon.png) no-repeat;}
.floatpanel .btnCtn { background: url(../images/screening-icon.png) no-repeat;}

.floatpanel .btnOpen { background-position: -30px;}
.floatpanel .btnCtn { background-position: 0px;}

.floatpanel .btnOpen { position: relative; width: 29px; height: 117px;}
.floatpanel .btnCtn { position: relative; width: 29px; height: 117px;}
 .floatpanel_heig{  overflow: auto; }
.floatpanel .floatR {
	/*max-height:100%;*/
    /*min-height: 100%;*/
	/*height:100%;*/
	padding-bottom: 20px;
	background:#fff;
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	-webkit-box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
	box-shadow: 0 0 6px 4px rgba(0,0,0,0.20);
	}
.floatpanel .floatR {
	padding:20px 0; width:372px; background-repeat:no-repeat; background-position: -131px bottom; float:left;
    /*overflow-y: scroll;*/
    /*overflow:hidden;*/
	}
.floatpanel .cn { background-repeat: repeat-y; background-position: -262px 0px; padding:0 4%; float:left; color:#666;}
/*.floatpanel .cn ul { margin:10px 0;}*/
/*.floatpanel .cn ul li { line-height:36px; word-wrap:break-word; height: 36px; overflow: hidden; word-break: normal;}*/
	
.floatpanel .cn p{ border-bottom:1px solid #666;font-size:14px; margin:20px 0 10px;}
.floatpanel .cn dl{ float:left; width:100%; padding:0px;}
.floatpanel .cn dl dt{ width: 36%; line-height:34px; float:left; margin:6px 0; font-weight:100;}
.floatpanel .cn dl dd{ width: 64%; float:left; margin:6px 0;}
.select-100{ width:100% !important;}
.saveDropdown{
    color: #666;
    border: 1px solid #ccc;
    margin-top: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.input-width1{ width:30% !important; float:left;}
.sample_count {
    line-height: 34px;
    font-size: 22px;
}