@charset "utf-8";
/* CSS Document */

.panel-border{ border-top:1px solid #CCC; margin:40px 0; padding:0 16.4%;}
.panel-title{ margin-top:-12px; background:#FFF; width:160px; text-align:center;}

.panel-box{ width:1020px; margin:20px auto;}
.panel-tab-on{ float:left;}
.panel-tab-on ul{ padding: 0px; float:left;}

.panel-tab-on ul li{
	width: 180px;
	height: 180px;
	text-align:center;
	display: inline;
	font-size: 18px;
	background:#71cf97;
	float: left;
	padding-top:20px;
	margin:0 12px;
	cursor: pointer;
	color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	}

.panel-tab-on ul li.hover{
	background:#fbd17d;
	}
.panel-tab-on ul li img{ border-top:1px solid #FFF;}
.panel-tab-under{
	width: 98.5%;
	height: auto;
	margin:10px;
	display: inline;
	float: left;
	}
.panel-tab-under p{ float:left; color:#fbd17d; margin:0px; height:26px;}
.panel-tab-color{
	background:#f8f7f5;
	float:left;
	width:100%;
	padding:30px 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border:1px solid #fbd17d;
	}
.clear{ clear:both;
}
.panel-triangle{ font-size:36px;width:100%;}



.tree,.tree-right {
    min-height:20px;
	width:46%;
    margin-bottom:20px;
	padding-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #9ea1a3;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
.tab-content ul{ margin:0 1px 0 0; padding:0px;
	height:auto; min-height:262px; _height:262px;/*最小高度*/
	max-height:262px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<262?"262px":"");
	overflow:auto;
	}
.tab-content ul li{
	cursor:default;
    list-style-type:none;
    padding:5px 5px 5px 10px;
    position:relative;
	}
.tab-content ul li a{ width:100%; display:block; color:#333;}
.tab-content ul li a:hover{ background:#0081c1; color:#FFF; text-decoration:none;}

.tree-right ul{ border-top:1px solid #CCC; margin:0px; padding:0px;
	height:auto; min-height:206px; _height:206px;/*最小高度*/
	max-height:206px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<206?"206px":"");
	overflow:auto;
	}
.tree-right li {
	cursor:default;
    list-style-type:none;
	border-bottom:1px solid #CCC;
    padding:5px 5px 5px 10px;
    position:relative;
	}
.indicators-title{
	background:#9ea1a3;
	color:#FFF;
	border-top-right-radius:5px 5px;
	border-top-left-radius:5px 5px;
	font-size:18px;
	padding:1% 10px;
	}
.run{ width:16%;}