@charset "utf-8";
/* CSS 登陆框 主 CSS 文件 */

body {padding:0; margin:0;}
input:focus,button:focus,a:focus{ outline:none !important; -moz-outline:none;}/* 解决 超链接、按钮 在浏览器中点击有边框的问题 */
#coverpage{ width: 100%; height: 100%; z-index: 9999; background: #000; overflow: hidden; position: absolute;}
#onepics{ width: 100%; height: 100%; overflow: hidden; position: relative;}
.onepic-wrap{ width: 100%; height: 100%; overflow: hidden; display: block; position: relative; cursor: pointer;}

.onepic-on{position: absolute; left: 0; top: 0; height: 50%;width: 100%;background:rgba(255,255,255, 0.5); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');*zoom:1;}
.onepic-under{ position: absolute; left: 0; bottom: 0; height: 50%;width: 100%;background:rgba(65,202,236, 0.9); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');*zoom:1;}

:root .onepic-under{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000'); }
.onepic-under p{ height: 45px; line-height: 45px; padding-left: 95px; font-size: 13px; color: #fff; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.sign-on-boeder{
    position:absolute;
    bottom:0;
    left:50%;
    margin:-100px 0 0 -230px ;
    width:460px;
    /*background:url(../images/login.png) no-repeat #41caec -30px 60px;*/
    background-color:#41caec;
    /*height:200px;*/
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.sign-on-boeder img{display: block;margin: 0 auto;padding-top: 10px;}
.sign-under-boeder{
    width:460px;
    background:#FFF;
    margin-right: auto;
    margin-left: auto;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding:20px 0;
}
.form-signin { max-width: 330px; padding: 15px; margin: 0 auto; }
.form-signin-heading{
    /*position:absolute;margin-left:10px;*/
    bottom:0; color:#FFF;margin-left: 10px;
    /*margin-top:20px;*/
}

.form-signin .form-signin-heading,
.form-signin .checkbox,.checkbox a:hover { margin-bottom: 10px; text-decoration:none;}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="account"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*footer版权*/
.footer{
    position:absolute;
    bottom:0;
    line-height:26px;
    color: #fff;
    margin:2% 0 0 0;
    width:100%;
    padding:10px 2%;
}
/*
.footer{ background:rgba(0,0,0, 0.5); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');*zoom:1;}
*/